openshift-install create manifests
cp openshift-machine-api-nutanix-credentials-credentials.yaml manifests
cp openshift-cloud-controller-manager-nutanix-credentials-credentials.yaml manifests
cp mco* manifests
openshift-install create ignition-configs
openshift-install create cluster
${additionalCommands}
${mirrorCommands}
sh certs.sh
sh csi.sh
sh imageregistry.sh
sh logging.sh
