# Local .terraform directories
**/.terraform/*
**/.terraform*

# .tfstate files
*.tfstate
*.tfstate.*
state/*

secrets.linux.auto.pkrvars.hcl
.DS_Store
packer/manifest.json
packer/manifest.json

.env/*
*.key
*.crt
files/ca.crt
files/ps.json

.vscode
infra_prepare/msad/.infra-env
