export TF_VAR_nutanix_subnet=""
export TF_VAR_nutanix_cluster=""
export TF_VAR_PC_USER=""
export TF_VAR_PC_PASS=""
export TF_VAR_PC_ENDPOINT=""
export TF_VAR_packer_source_image="https://cloud-images.ubuntu.com/releases/focal/release/ubuntu-20.04-server-cloudimg-amd64.img"
export TF_VAR_installer_name=""
