export TF_VAR_USE_MIRROR=false
export TF_VAR_CSI_BETA=true
export TF_VAR_MIRROR_HOST=""
export TF_VAR_MIRROR_REPO="ocp-mirror"
export TF_VAR_ocp_ver="4.13"

export TF_VAR_ZONE=""
export TF_VAR_nutanix_subnet=""
export TF_VAR_jumphost_nutanix_subnet=""
export TF_VAR_nutanix_cluster=""
export TF_VAR_PC_USER=""
export TF_VAR_PC_PASS=
export TF_VAR_PE_USER=""
export TF_VAR_PE_PASS=
export TF_VAR_PC_ENDPOINT=""
export TF_VAR_installer_name="installer"
export TF_VAR_VPC=false

export TF_VAR_OCP_API_VIP_EXTERNAL=""
export TF_VAR_OCP_INGRESS_VIP_EXTERNAL=""
export TF_VAR_OCP_API_VIP=""
export TF_VAR_OCP_INGRESS_VIP=""
export TF_VAR_OCP_BASEDOMAIN=""
export TF_VAR_OCP_SUBDOMAIN=""
export TF_VAR_CONTAINER="Default"
export TF_VAR_JUMPHOST_PRIVATE_SSH="~/.ssh/hpoc"
export TF_VAR_JUMPHOST_PUBLIC_SSH="~/.ssh/hpoc.pub"
#export TF_VAR_JUMPHOST_IMAGE="https://cloud-images.ubuntu.com/releases/22.10/release/ubuntu-22.10-server-cloudimg-amd64.img"
export TF_VAR_JUMPHOST_IMAGE="ubuntu-22.10"

export TF_VAR_ocp_basedir="https://mirror.openshift.com/pub/openshift-v4/clients/ocp/stable-4.13/"
#export TF_VAR_ocp_basedir="https://mirror.openshift.com/pub/openshift-v4/clients/ocp/stable-4.12/"
#export TF_VAR_ocp_basedir="https://mirror.openshift.com/pub/openshift-v4/clients/ocp-dev-preview/4.14.0-ec.3/"

export TF_VAR_account_key_pem=""
  
export TF_VAR_cloudflare_api_token=""

export TF_VAR_pullsecret=''
